body {
  margin-bottom: 100px;
  background-color: #e0e1dd;
}

header {
  background-color: #778da9;
  padding-bottom: 25px;
}
.wrapper {
  padding: 1rem;
}

.nameJob {
  padding-left: 30px;
}

.inline {
  display: inline-block;
  position: relative;
  top: 35px;
  left: 15px;
  font-family: "Lato", sans-serif;
  color: white;
}

.personalImage {
  border-radius: 75px;
  height: 150px;
  width: 150px;
}

.resumeBtn {
  float: right;
  position: relative;
  top: 55px;
  right: 15px;
  background-color: white;
}

.resumeLink {
  color: black;
  text-decoration: none;
  border-color: white;
}

.icons {
  background-color: #415a77;
  border-color: white;
}

.nav {
  font-family: "Montserrat", sans-serif;
  position: relative;
  bottom: 100px;
}

.aboutMeHeader {
  background-color: #415a77;
  color: white;
}

.aboutMe {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 40px;
}

.btn {
  border-radius: 50px;
  margin: 0px 15px;
}

.appBtns {
  color: white;
  text-decoration: none;
}

.btnColor {
  background-color: #1b263b;
}

button:hover,
a:hover {
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

.resumeBtn:hover {
  color: #1b263b;
}

.featuredProj {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 25px;
  justify-content: space-evenly;
}

.projectCards {
  margin-top: 25px;
  font-family: "Source Sans Pro", sans-serif;
}

.mb-3 {
  border-style: solid;
  border-color: #1b263b;
  border-width: 2px;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 5px 5px #0d1b2a;
}
.weatherImage {
  width: 300px;
  height: 200px;
}

.navbar {
  background-color: #778da9;
}

@media (max-width: 767.98px) {
  .resumeBtn {
    /* margin-top: 30px; */
    float: none;
    position: absolute;
  }
  .personalImage {
    position: relative;
    top: 15px;
  }

  .inline {
    padding-bottom: 15px;
  }

  .latestProjCard {
    margin-top: 20px;
  }
  .display-4 {
    font-size: 2.5rem;
  }
  .btnFormatting {
    display: flex;
    justify-content: space-evenly;
  }
}
